<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>  
    <add key="DBConnection" value="Server=164.115.17.179\PRINCIPAL2014; Failover Partner=164.115.หนึ่งเจ็ด.หนึ่งเจ็ดเก้า\MIRROR2014; Database=DB1; Network=dbmssocn"/>  
    <add key="DBConnectionSimple" value="Server=164.115.17.179\PRINCIPAL2014;Failover Partner=164.115.หนึ่งเจ็ด.หนึ่งเจ็ดเก้า\MIRROR2014;Database=DB1;User Id=principal01;Password=dgaqwER1234ตึ๊ดตึ๊ดตึ๊ดตึ๊ด;Network=dbmssocn"/>
  </appSettings> 
</configuration>
